<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New travelling story</h1>

    <p><em>Name:</em> <%= @visitor.name %><br/>
      <em>Email:</em> <%= @visitor.email %>
    </p>
    <p>
      <em>My travelling story:</em>
    </p>
    <p>
      "<%= @visitor.content %>"
    </p>
  </body>
</html>
