<!DOCTYPE html>
<!-- Crossway - Startup Landing Page Template design by DSA79 (http://www.dsathemes.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

	<head>
	
		<!-- Basic -->
		<meta charset="utf-8">
		<title>About Us | Crossway - Startup Landing Page Template</title>
		<meta name="author" content="DSA79">
		<meta name="keywords" content="responsive, html5 template, one page, landing, startup, business, company, corporate, creative">
		<meta name="description" content="Crossway - Startup Landing Page Template - About Us">		
		
		<!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">		
			
		<!-- Libs CSS -->
		<link href="css/bootstrap.css" rel="stylesheet"> 
		<link href="css/font-awesome.min.css" rel="stylesheet">	
		<link href="css/flexslider.css" rel="stylesheet">
		<link href="css/owl.carousel.css" rel="stylesheet">	
		
		<!-- On Scroll Animations -->
		<link href="css/animate.css" rel="stylesheet">

		<!-- Template CSS -->
		<link href="css/style.css" rel="stylesheet">  
	
		<!-- Responsive CSS -->
		<link href="css/responsive.css" rel="stylesheet"> 
								
		<!-- Favicons -->	
		<link rel="shortcut icon" href="img/icons/favicon.ico">
		<link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png">
			
		<!-- Google Fonts -->	
		<link href='http://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
				
	</head>
		
	<body>
	
	
		<!-- PRELOADER
		============================================= -->
		
		<div id="preloader">
			<div id="status"></div>
		</div>

	
		<!-- HEADER
		============================================= -->
		
		<header id="header">
		
			<div class="navbar navbar-fixed-top">	
				<div class="container">
				
					<!-- Logo & Responsive Menu -->
					<div class="navbar-header">
						<button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-menu">
							<span class="sr-only">Toggle navigation</span> 
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#top-page-banner"><img src="img/logo.png" alt="logo" role="banner"></a>
					</div>	<!-- End navbar-header -->
					
					<!-- Navigation -->
					<nav id="navigation-menu" class="collapse navbar-collapse"  role="navigation">
					  <ul class="nav navbar-nav navbar-right">
						<li><a href="index.html">Home</a></li>
						<li><a class="selected-nav" href="#">About</a></li>	
						<li><a href="index.html#features">Features</a></li>
						<li><a href="index.html#faq">FAQ</a></li>
						<li><a href="index.html#pricing">Pricing</a></li>
						<li><a href="index.html#blog">Blog</a></li>
						<li><a href="index.html#clients">Clients</a></li>
					  </ul>
					</nav>	<!-- End navbar-collapse -->
					
				</div>	<!-- End container -->
			</div>	<!-- End navbar -->
			
		</header>	 <!-- END HEADER -->
		
		
		<!-- ABOUT PAGE CONTENT WRAPPER
		============================================= -->
		
		<div id="about-page-wrapper">
		
		
			<!-- BREADCRUMB
			============================================= -->	
			
			<section id="breadcrumb-wrapper">				
				<div class="container">				
					<div class="row">						
						<div class="col-xs-12">									
							<ol class="breadcrumb">								
								<li><a href="index.html" title="">Home</a></li>
								<li class="active">About Us</li>
							</ol>	
						</div>						
					</div>					
				</div>					
			</section>	  <!-- END BREADCRUMB -->	

				
			<!-- WHAT WE DO
			============================================= -->
			
			<section id="what-we-do">
				<div class="container">	
						
					<!-- Section Tittle -->				
					<div class="row">
						<div class="col-sm-12 titlebar">
							<h1>A few words about <strong>what we do</strong></h1>
							<p>We're a small, friendly and talented team. Every member of our team has spent many hours polishing professional skills and earning a unique experience</p>						
						</div>
					</div>	<!-- End Section Tittle -->	
					
							
					<div class="row">
							
						<!-- SERVICES IMAGE -->
						<div id="service-image" class="col-md-7 text-center">
							<img class="img-responsive" src="img/thumbs/thinking-woman.jpg" alt="image" />	
						</div>	<!-- END SERVICES IMAGE -->
						
								
						<!-- SERVICES-LIST -->
						<div id="service-list" class="col-md-5">

							<!-- Service One -->
							<div id="service-1" class="service-box">
								<div class="service-box-title clearfix">
									<div class="service-box-icon"><i class="fa fa-crop"></i></div>
									<h4>Service One</h4>
								</div>										
								<p>Aliquam a augue suscipit, bibendum luctus neque. Vestibulum laoreet rhoncus ipsum, bibendum ullamcorper hendrerit tellus
								   Vestibulum varius nulla mauris, vitae adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								</p>
							</div>	<!-- End Service One -->
							
										
							<!-- Service Two -->
							<div id="service-2" class="service-box">
								<div class="service-box-title clearfix">
									<div class="service-box-icon"><i class="fa fa-random"></i></div>
									<h4>Service Two</h4>
								</div>										
								<p>Aliquam a augue suscipit, bibendum luctus neque. Vestibulum laoreet rhoncus ipsum, bibendum ullamcorper hendrerit tellus
								   Vestibulum varius nulla mauris, vitae adipiscing. Pellentesque imperdiet purus quis metus	
								</p>
							</div>	<!-- End Service Two -->
							

							<!-- Service Three -->
							<div id="service-3" class="service-box">
								<div class="service-box-title clearfix">
									<div class="service-box-icon"><i class="fa fa-retweet"></i></div>
									<h4>Service Three</h4>
								</div>										
								<p>Aliquam a augue suscipit, bibendum luctus neque. Vestibulum laoreet rhoncus ipsum, bibendum ullamcorper hendrerit tellus
								   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet purus quis metus	
								</p>
							</div>	<!-- End Service Three -->	
							
								
						</div>	<!-- END SERVICES-LIST -->						
					</div>	<!-- End row -->
					
							
				</div>	   <!-- End container -->					
			</section>	 <!-- END WHAT WE DO -->


			<!-- OUR SKILLS
			============================================= -->
			
			<section id="our-skills">
				<div class="container">	
						
					<!-- Section Tittle -->				
					<div class="row">
						<div class="col-sm-12 titlebar">
							<h1>A few words about <strong>our skills</strong></h1>
							<p>We're a small, friendly and talented team. Every member of our team has spent many hours polishing professional skills and earning a unique experience</p>						
						</div>
					</div>	<!-- End Section Tittle -->	
					
							
					<div class="row">
					
						<!-- PROGRESS BAR HOLDER -->		
						<div id="progress-bar-holder" class="col-md-5">
						
							<!-- UI Design -->	
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
									<span class="progress-label">UI Design</span>
									88%
								</div>
							</div>
							
							<!-- Branding & Identity -->	
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
									<span class="progress-label">Branding &amp; Identity</span>
									74%
								</div>
							</div>
							
							<!-- JavaScript -->	
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
									<span class="progress-label">JavaScript</span>
									65%
								</div>
							</div>
							
							<!-- HTML5 & CSS3 -->	
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
									<span class="progress-label">HTML5&amp;CSS3</span>
									95%
								</div>
							</div>
							
							<!-- WordPress -->	
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
									<span class="progress-label">WordPress</span>
									76%
								</div>
							</div>
														
						</div>	<!-- END PROGRESS BAR HOLDER -->
						
						
						<!-- OUR SKILLS DESCRIPTION -->
						<div id="progress-bar-desc" class="col-md-7">
							<p>Nam quis nulla ipsum. Aliquam adipiscing dui et est ultricies dapibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
							   Praesent euismod viverra tortor in iaculis. In consequat nibh in nisi sodales. In fermentum, tortor vitae commodo euismod,
							   metus leo vehicula velit, sit amet dignissim dui lorem et elit.
							</p>
									
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis diam mauris. Nam suscipit massa nec pretium ultrices. 
							   Quisque ante enim, fermentum sed euismod non, blandit sed erat. Nunc rhoncus porttitor elit nec eleifend. In fermentum, tortor vitae commodo euismod,
							   metus leo vehicula velit, sit amet dignissim dui lorem et elit adipiscing dui et est ultricies dapibus.
							</p>
									
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis diam mauris. Nam suscipit massa nec pretium ultrices. 
							   Quisque ante enim, fermentum sed euismod non, blandit sed erat. Nunc rhoncus porttitor elit nec eleifend. 
							</p>
									
						</div>	<!-- END OUR SKILLS DESCRIPTION -->

					</div>	<!-- End row -->
							
							
				</div>	  <!-- End container -->					
			</section>	 <!-- END OUR SKILLS -->
					
					
			<!-- TEAM
			============================================= -->
			
			<section id="team">
				<div class="container">	
						
					<!-- Section Tittle -->				
					<div class="row">
						<div class="col-sm-12 titlebar">
							<h1>Our <strong>talented team</strong></h1>
							<p>Every member of our team has spent many hours polishing professional skills and earning a unique experience</p>						
						</div>
					</div>	<!-- End Section Tittle -->	
					
							
					<!-- Team Members Holder -->
					<div id="team-member-holder" class="row">
						
						<!-- TEAM MEMBER #1 -->
						<div id="team-1" class="col-xs-6 col-sm-6 col-md-3">					
							<div class="team-member">	

								<!-- Team Member Photo  -->	
								<div class="img-block">
									<img class="img-responsive" src="img/thumbs/team_01.jpg" alt="member_foto" >
								</div>
										
								<!-- Team Member Meta  -->		
								<div class="team-img-meta">
									<h4>Daniel Patterson</h4>
									<p class="theme-color">Founder</p>
								</div>	
										
								<!-- Team Member Social Icons  -->		
								<div class="team-socials">																	
									<ul class="team-member-socials clearfix">
										<li><span rel="tooltip" title="Facebook"><a class="page_social ico-facebook" href="#"><i class="fa fa-facebook fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Twitter"><a class="page_social ico-twitter" href="#"><i class="fa fa-twitter fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Google Plus"><a class="page_social ico-google-plus" href="#"><i class="fa fa-google-plus fa-lg"></i></a></span></li>											
															
									<!--
										<li><span rel="tooltip" title="Instagram"><a class="page_social ico-instagram" href="#"><i class="fa fa-instagram fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Linkedin"><a class="page_social ico-linkedin" href="#"><i class="fa fa-linkedin fa-lg"></i></a></span></li>	
										<li><span rel="tooltip" title="Dribbble"><a class="page_social ico-dribbble" href="#"><i class="fa fa-dribbble fa-lg"></i></a></span></li>																			
										<li><span rel="tooltip" title="Pinterest"><a class="page_social ico-pinterest" href="#"><i class="fa fa-pinterest fa-lg"></i></a></span></li>	
										<li><span rel="tooltip" title="Dropbox"><a class="page_social ico-dropbox" href="#"><i class="fa fa-dropbox fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Skype"><a class="page_social ico-skype" href="#"><i class="fa fa-skype fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="YouTube"><a class="page_social ico-youtube" href="#"><i class="fa fa-youtube fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Tumblr"><a class="page_social ico-tumblr" href="#"><i class="fa fa-tumblr fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Vimeo"><a class="page_social ico-vimeo" href="#"><i class="fa fa-vimeo-square fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Flickr"><a class="page_social ico-flickr" href="#"><i class="fa fa-flickr fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Aithub"><a class="page_social ico-github" href="#"><i class="fa fa-github-alt fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Renren"><a class="page_social ico-renren" href="#"><i class="fa fa-renren fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="VK"><a class="page_social ico-vk" href="#"><i class="fa fa-vk fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Xing"><a class="page_social ico-xing" href="#"><i class="fa fa-xing fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Weibo"><a class="page_social ico-weibo" href="#"><i class="fa fa-weibo fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="RSS"><a class="page_social ico-rss" href="#"><i class="fa fa-rss fa-lg"></i></a></span></li>										
									-->										
									</ul>
								</div>	
										
							</div>								
						</div>	 <!-- END TEAM MEMBER #1 -->
						
																
						<!-- TEAM MEMBER #2 -->
						<div id="team-2" class="col-xs-6 col-sm-6 col-md-3">		
							<div class="team-member">
									
								<!-- Team Member Photo  -->	
								<div class="img-block">
									<img class="img-responsive" src="img/thumbs/team_02.jpg" alt="member_foto" >	
								</div>
										
								<!-- Team Member Meta  -->	
								<div class="team-img-meta">							
									<h4>Emily Clark</h4>
									<p class="theme-color">App Developer</p>
								</div>
										
								<!-- Team Member Social Icons  -->		
								<div class="team-socials">																	
									<ul class="team-member-socials clearfix">
										<li><span rel="tooltip" title="Facebook"><a class="page_social ico-facebook" href="#"><i class="fa fa-facebook fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Twitter"><a class="page_social ico-twitter" href="#"><i class="fa fa-twitter fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Pinterest"><a class="page_social ico-pinterest" href="#"><i class="fa fa-pinterest fa-lg"></i></a></span></li>										
															
									<!--
										<li><span rel="tooltip" title="Google Plus"><a class="page_social ico-google-plus" href="#"><i class="fa fa-google-plus fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Linkedin"><a class="page_social ico-linkedin" href="#"><i class="fa fa-linkedin fa-lg"></i></a></span></li>	
										<li><span rel="tooltip" title="Dribbble"><a class="page_social ico-dribbble" href="#"><i class="fa fa-dribbble fa-lg"></i></a></span></li>									
										<li><span rel="tooltip" title="Instagram"><a class="page_social ico-instagram" href="#"><i class="fa fa-instagram fa-lg"></i></a></li>
										<li><span rel="tooltip" title="Dropbox"><a class="page_social ico-dropbox" href="#"><i class="fa fa-dropbox fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Skype"><a class="page_social ico-skype" href="#"><i class="fa fa-skype fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="YouTube"><a class="page_social ico-youtube" href="#"><i class="fa fa-youtube fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Tumblr"><a class="page_social ico-tumblr" href="#"><i class="fa fa-tumblr fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Vimeo"><a class="page_social ico-vimeo" href="#"><i class="fa fa-vimeo-square fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Flickr"><a class="page_social ico-flickr" href="#"><i class="fa fa-flickr fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Aithub"><a class="page_social ico-github" href="#"><i class="fa fa-github-alt fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Renren"><a class="page_social ico-renren" href="#"><i class="fa fa-renren fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="VK"><a class="page_social ico-vk" href="#"><i class="fa fa-vk fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Xing"><a class="page_social ico-xing" href="#"><i class="fa fa-xing fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Weibo"><a class="page_social ico-weibo" href="#"><i class="fa fa-weibo fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="RSS"><a class="page_social ico-rss" href="#"><i class="fa fa-rss fa-lg"></i></a></span></li>										
									-->										
									</ul>
								</div>	

							</div>							
						</div>	 <!-- END TEAM MEMBER #2 -->
						
																		
						<!-- TEAM MEMBER #3 -->
						<div id="team-3" class="col-xs-6 col-sm-6 col-md-3">				
							<div class="team-member">
									
								<!-- Team Member Photo  -->	
								<div class="img-block">
									<img class="img-responsive" src="img/thumbs/team_03.jpg" alt="member_foto" >
								</div>
										
								<!-- Team Member Meta  -->		
								<div class="team-img-meta">							
									<h4>Jane Doe</h4>
									<p class="theme-color">Designer</p>	
								</div>
										
								<!-- Team Member Social Icons  -->		
								<div class="team-socials">																	
									<ul class="team-member-socials clearfix">
										<li><span rel="tooltip" title="Facebook"><a class="page_social ico-facebook" href="#"><i class="fa fa-facebook fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Twitter"><a class="page_social ico-twitter" href="#"><i class="fa fa-twitter fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Linkedin"><a class="page_social ico-linkedin" href="#"><i class="fa fa-linkedin fa-lg"></i></a></span></li>										
														
									<!--
										<li><span rel="tooltip" title="Google Plus"><a class="page_social ico-google-plus" href="#"><i class="fa fa-google-plus fa-lg"></i></a></span></li>													
										<li><span rel="tooltip" title="Dribbble"><a class="page_social ico-dribbble" href="#"><i class="fa fa-dribbble fa-lg"></i></a></span></li>									
										<li><span rel="tooltip" title="Instagram"><a class="page_social ico-instagram" href="#"><i class="fa fa-instagram fa-lg"></i></a></li>
										<li><span rel="tooltip" title="Pinterest"><a class="page_social ico-pinterest" href="#"><i class="fa fa-pinterest fa-lg"></i></a></span></li>	
										<li><span rel="tooltip" title="Dropbox"><a class="page_social ico-dropbox" href="#"><i class="fa fa-dropbox fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Skype"><a class="page_social ico-skype" href="#"><i class="fa fa-skype fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="YouTube"><a class="page_social ico-youtube" href="#"><i class="fa fa-youtube fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Tumblr"><a class="page_social ico-tumblr" href="#"><i class="fa fa-tumblr fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Vimeo"><a class="page_social ico-vimeo" href="#"><i class="fa fa-vimeo-square fa-lg"></i></a></span></li>										
										<li><span rel="tooltip" title="Flickr"><a class="page_social ico-flickr" href="#"><i class="fa fa-flickr fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Aithub"><a class="page_social ico-github" href="#"><i class="fa fa-github-alt fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Renren"><a class="page_social ico-renren" href="#"><i class="fa fa-renren fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="VK"><a class="page_social ico-vk" href="#"><i class="fa fa-vk fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Xing"><a class="page_social ico-xing" href="#"><i class="fa fa-xing fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Weibo"><a class="page_social ico-weibo" href="#"><i class="fa fa-weibo fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="RSS"><a class="page_social ico-rss" href="#"><i class="fa fa-rss fa-lg"></i></a></span></li>										
									-->										
									</ul>
								</div>	

							</div>								
						</div>	 <!-- END TEAM MEMBER #3 -->
						
														
						<!-- TEAM MEMBER #4 -->
						<div id="team-4" class="col-xs-6 col-sm-6 col-md-3">				
							<div class="team-member">
									
								<!-- Team Member Photo  -->	
								<div class="img-block">
									<img class="img-responsive" src="img/thumbs/team_04.jpg" alt="member_foto" >
								</div>
										
								<!-- Team Member Meta  -->		
								<div class="team-img-meta">							
									<h4>John Sharp</h4>
									<p class="theme-color">Programmer</p>	
								</div>
										
								<!-- Team Member Social Icons  -->		
								<div class="team-socials">																	
									<ul class="team-member-socials clearfix">
										<li><span rel="tooltip" title="Facebook"><a class="page_social ico-facebook" href="#"><i class="fa fa-facebook fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Twitter"><a class="page_social ico-twitter" href="#"><i class="fa fa-twitter fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Dribbble"><a class="page_social ico-dribbble" href="#"><i class="fa fa-dribbble fa-lg"></i></a></span></li>																					
															
									<!--
										<li><span rel="tooltip" title="Google Plus"><a class="page_social ico-google-plus" href="#"><i class="fa fa-google-plus fa-lg"></i></a></span></li>		
										<li><span rel="tooltip" title="Instagram"><a class="page_social ico-instagram" href="#"><i class="fa fa-instagram fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Linkedin"><a class="page_social ico-linkedin" href="#"><i class="fa fa-linkedin fa-lg"></i></a></span></li>																												
										<li><span rel="tooltip" title="Pinterest"><a class="page_social ico-pinterest" href="#"><i class="fa fa-pinterest fa-lg"></i></a></span></li>	
										<li><span rel="tooltip" title="Dropbox"><a class="page_social ico-dropbox" href="#"><i class="fa fa-dropbox fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Skype"><a class="page_social ico-skype" href="#"><i class="fa fa-skype fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="YouTube"><a class="page_social ico-youtube" href="#"><i class="fa fa-youtube fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Tumblr"><a class="page_social ico-tumblr" href="#"><i class="fa fa-tumblr fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Vimeo"><a class="page_social ico-vimeo" href="#"><i class="fa fa-vimeo-square fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Flickr"><a class="page_social ico-flickr" href="#"><i class="fa fa-flickr fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Aithub"><a class="page_social ico-github" href="#"><i class="fa fa-github-alt fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Renren"><a class="page_social ico-renren" href="#"><i class="fa fa-renren fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="VK"><a class="page_social ico-vk" href="#"><i class="fa fa-vk fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Xing"><a class="page_social ico-xing" href="#"><i class="fa fa-xing fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="Weibo"><a class="page_social ico-weibo" href="#"><i class="fa fa-weibo fa-lg"></i></a></span></li>
										<li><span rel="tooltip" title="RSS"><a class="page_social ico-rss" href="#"><i class="fa fa-rss fa-lg"></i></a></span></li>										
									-->										
									</ul>
								</div>	

							</div>								
						</div>	 <!-- END TEAM MEMBER #4 -->

					</div>	<!-- End Team Members Holder -->
					
												
				</div>	<!-- End container -->	
			</section>	 <!-- END OUR TEAM SECTION  -->
			
			
			<!-- STATISTIC BANNER
			============================================= -->
			<section id="statistic-banner" class="parallax">			
				<div class="container">	

					<div class="row">
						<div class="col-sm-12 titlebar text-center">
							<h1>Some <strong>facts about</strong> us</h1>
						</div>
					</div>
						
					<!-- Statistic Holder -->
					<div id="statistic-holder" class="row">

						<!-- Statistic Element #1 -->
						<div class="col-sm-6 col-md-3 statistic-block">
							<div class="statistic-icon"><i class="fa fa-trophy"></i></div>
							<div class="statistic-number">100+</div>
							<div class="statistic-text">Happy Clients</div>
						</div>
										
						<!-- Statistic Element #1 -->
						<div class="col-sm-6 col-md-3 statistic-block">
							<div class="statistic-icon"><i class="fa fa-gift"></i></div>
							<div class="statistic-number">85</div>
							<div class="statistic-text">Project Finished</div>
						</div>
							
						<!-- Statistic Element #3 -->
						<div class="col-sm-6 col-md-3 statistic-block">
							<div class="statistic-icon"><i class="fa fa-twitter"></i></div>
							<div class="statistic-number">450+</div>
							<div class="statistic-text">Followers</div>
						</div>

						<!-- Statistic Element #3 -->
						<div class="col-sm-6 col-md-3 statistic-block">
							<div class="statistic-icon"><i class="fa fa-coffee"></i></div>
							<div class="statistic-number">320</div>
							<div class="statistic-text">Cofee Cups</div>
						</div>
									
					</div>	<!-- End Statistic Holder -->
							
				</div>	<!-- End container -->
			</section>	  <!-- END STATISTIC BANNER -->	
					

			<!-- CLIENTS
			============================================= -->
					
			<section id="clients" class="parallax">
				<div class="container">	
							
					<!-- Section Title -->	
					<div id="clients-titlebar" class="row">
						<div class="col-sm-12 ">
								
							<div class="titlebar">	
								<h1>Our <strong>best clients</strong></h1>
								<p>Praesent semper, lacus sed cursus porta, odio augue feugiat tincidunt ligula massa in primis faucibus posuere cubilia </p>
										
								<!-- Clients Carousel Navigation -->	
								<div class="customNavigation">
									<a class="prev btn btn-primary"><i class="fa fa-angle-left"></i></a>
									<a class="next btn btn-primary"><i class="fa fa-angle-right"></i></a>
								</div>
							</div>

						</div>	
					</div>	<!-- End Section Title -->	
					
								
					<!-- Clients Carousel -->
					<div id="clients-holder" class="row">
						<div class="col-md-12">

							<!-- Clients Carousel-->
							<div id="our-customers" class="owl-carousel">
											
								<!-- Client Logo #1-->
								<div id="client-logo-1" class="item">
									<img class="img-responsive img-customer" src="img/thumbs/client-1.png" alt="customer_image">
								</div>
											
								<!-- Client Logo #2-->
								<div id="client-logo-2" class="item">
									<img class="img-responsive img-customer" src="img/thumbs/client-2.png" alt="customer_image">
								</div>
											
								<!-- Client Logo #3-->
								<div id="client-logo-3" class="item">
									<img class="img-responsive img-customer" src="img/thumbs/client-3.png" alt="customer_image">
								</div>
											
								<!-- Client Logo #4-->
								<div id="client-logo-4" class="item">
									<img class="img-responsive img-customer" src="img/thumbs/client-4.png" alt="customer_image">
								</div>
											
								<!-- Client Logo #5-->
								<div id="client-logo-5" class="item">
									<img class="img-responsive img-customer" src="img/thumbs/client-5.png" alt="customer_image">
								</div>
											
								<!-- Client Logo #6-->
								<div id="client-logo-6" class="item">
									<img class="img-responsive img-customer" src="img/thumbs/client-6.png" alt="customer_image">
								</div>
											
								<!-- Client Logo #7-->
								<div id="client-logo-7" class="item">
									<img class="img-responsive img-customer" src="img/thumbs/client-1.png" alt="customer_image">
								</div>
											
								<!-- Client Logo #8-->
								<div id="client-logo-8" class="item">
									<img class="img-responsive img-customer" src="img/thumbs/client-2.png" alt="customer_image">
								</div>
								
							</div>	<!-- End Clients Carousel-->							  
							
						</div>
					</div>	   <!-- End Clients Holder -->	
					
							
				</div>	   <!-- End container -->		
			</section>  <!-- END CLIENTS -->
			
		
			<!-- FOOTER
			============================================= -->
			
			<footer id="footer">
				<div class="container">	
					<div class="row">
										
						<!-- Footer Navigation Menu -->
						<div id="footer_nav" class="col-sm-6 col-md-4">
							<ul class="footer-nav clearfix">
								<li><a href="about.html">About</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="#">Help</a></li>
								<li><a href="#">Privacy</a></li>
								<li><a href="#">Terms</a></li>
							</ul>

							<div id="footer_copy">
								<p>&copy; Copyright 2014 <span>Crossway</span> All Right Reserved</p>
							</div>							
						</div>	<!-- End Footer Navigation Menu -->
												
						<!-- Footer Social Icons -->
						<div id="footer_icons" class="col-sm-6 col-md-4 text-center">																	
							<ul class="footer-socials clearfix">
								<li><a class="foo_social ico-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a class="foo_social ico-twitter" href="#"><i class="fa fa-twitter"></i></a></li>	
								<li><a class="foo_social ico-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a class="foo_social ico-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a class="foo_social ico-dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
											
							<!--									
								<li><a class="foo_social ico-instagram" href="#"><i class="fa fa-instagram"></i></a></li>
								<li><a class="foo_social ico-pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>	
								<li><a class="foo_social ico-dropbox" href="#"><i class="fa fa-dropbox"></i></a></li>
								<li><a class="foo_social ico-skype" href="#"><i class="fa fa-skype"></i></a></li>
								<li><a class="foo_social ico-youtube" href="#"><i class="fa fa-youtube"></i></a></li>
								<li><a class="foo_social ico-tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
								<li><a class="foo_social ico-vimeo" href="#"><i class="fa fa-vimeo-square"></i></a></li>
								<li><a class="foo_social ico-flickr" href="#"><i class="fa fa-flickr"></i></a></li>
								<li><a class="foo_social ico-github" href="#"><i class="fa fa-github-alt"></i></a></li>
								<li><a class="foo_social ico-renren" href="#"><i class="fa fa-renren"></i></a></li>
								<li><a class="foo_social ico-vk" href="#"><i class="fa fa-vk"></i></a></li>
								<li><a class="foo_social ico-xing" href="#"><i class="fa fa-xing"></i></a></li>
								<li><a class="foo_social ico-weibo" href="#"><i class="fa fa-weibo"></i></a></li>
								<li><a class="foo_social ico-rss" href="#"><i class="fa fa-rss"></i></a></li>										
							-->										
							</ul>
						</div>	 <!-- End Footer Social Icons -->	
						
						<!-- Newsletter Form -->						
						<div class="col-md-4">							
							<div id="newsletter_form" class="col-sm-12">
								<div class="clearfix">
									<form id="subscribe-form" class="subscribe-form pull-right" action="newsletter.php" method="post">
										<input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address...">
										<button type="submit" class="subscribe-submit">Subscribe</button>
									</form>
								</div>	
								<p id="newsletter-paragraph" class="pull-right">Join our newsletter subscription, <span>be always informed</span></p>
							</div>
						</div>	<!-- End Newsletter Form -->	
											
					</div>	<!-- End row -->						
				</div>	  <!-- End container -->		
			</footer>	<!-- END FOOTER -->
		
			
		</div>	<!-- PAGE CONTENT WRAPPER -->
	
	
		<!-- EXTERNAL SCRIPTS
		============================================= -->
		
		<script src="js/jquery-2.1.0.min.js" type="text/javascript"></script>
		<script src="js/bootstrap.min.js" type="text/javascript"></script>	
		<script src="js/retina.js" type="text/javascript"></script>	
		<script src="js/modernizr.custom.js" type="text/javascript"></script>	
		<script src="js/jquery.easing.js" type="text/javascript"></script>
		<script src="js/jquery.parallax-1.1.3.js" type="text/javascript"></script>
		<script src="js/jquery.validate.min.js" type="text/javascript"></script>
		<script defer src="js/jquery.flexslider.js" type="text/javascript"></script>
		<script src="js/jquery.accordion.source.js" type="text/javascript"></script>	
		<script src="js/owl.carousel.js" type="text/javascript"></script>
		<script src="js/waypoints.min.js" type="text/javascript"></script>	
		<script src="js/animations.js" type="text/javascript"></script>	
		<script defer src="js/count-to.js"></script>
		<script defer src="js/jquery.appear.js"></script>	
		<script src="js/custom.js" type="text/javascript"></script>
		

		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		
				
		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
		<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->
	
	</body>
	
</html>