<!DOCTYPE html>
<!-- Crossway - Startup Landing Page Template design by DSA79 (http://www.dsathemes.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

	<head>
	
		<!-- Basic -->
		<meta charset="utf-8">
		<title>Blog | Crossway - Startup Landing Page Templatee</title>
		<meta name="author" content="DSA79">
		<meta name="keywords" content="responsive, html5 template, one page, landing, startup, business, company, corporate, creative">
		<meta name="description" content="Crossway - Startup Landing Page Template - Blog Page">		
		
		<!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">		
			
		<!-- Libs CSS -->
		<link href="css/bootstrap.css" rel="stylesheet"> 
		<link href="css/font-awesome.min.css" rel="stylesheet">	
		<link href="css/flexslider.css" rel="stylesheet">
		<link href="css/owl.carousel.css" rel="stylesheet">

		<!-- Template CSS -->
		<link href="css/style.css" rel="stylesheet">  
	
		<!-- Responsive CSS -->
		<link href="css/responsive.css" rel="stylesheet"> 
								
		<!-- Favicons -->	
		<link rel="shortcut icon" href="img/icons/favicon.ico">
		<link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png">
			
		<!-- Google Fonts -->	
		<link href='http://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
				
	</head>
		
	<body>
	
	
		<!-- PRELOADER
		============================================= -->
		
		<div id="preloader">
			<div id="status"></div>
		</div>

	
		<!-- HEADER
		============================================= -->
		
		<header id="header">
		
			<div class="navbar navbar-fixed-top">	
				<div class="container">
				
					<!-- Logo & Responsive Menu -->
					<div class="navbar-header">
						<button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-menu">
							<span class="sr-only">Toggle navigation</span> 
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#top-page-banner"><img src="img/logo.png" alt="logo" role="banner"></a>
					</div>	<!-- End navbar-header -->
					
					<!-- Navigation -->
					<nav id="navigation-menu" class="collapse navbar-collapse"  role="navigation">
					  <ul class="nav navbar-nav navbar-right">
						<li><a href="index.html">Home</a></li>
						<li><a href="index.html#about-1">About</a></li>	
						<li><a href="index.html#features">Features</a></li>
						<li><a href="index.html#faq">FAQ</a></li>
						<li><a href="index.html#pricing">Pricing</a></li>
						<li><a class="selected-nav" href="index.html#blog">Blog</a></li>
						<li><a href="index.html#clients">Clients</a></li>
					  </ul>
					</nav>	<!-- End navbar-collapse -->
					
				</div>	<!-- End container -->
			</div>	<!-- End navbar -->
			
		</header>	 <!-- END HEADER -->
		
		
		<!-- PAGE CONTENT WRAPPER
		============================================= -->
		
		<div id="blog-page-wrapper" class="blog-page">
		
		
			<!-- BREADCRUMB
			============================================= -->	
			
			<section id="breadcrumb-wrapper">				
				<div class="container">				
					<div class="row">						
						<div class="col-xs-12">									
							<ol class="breadcrumb">								
								<li><a href="index.html" title="">Home</a></li>
								<li class="active">Blog</li>
							</ol>	
						</div>						
					</div>					
				</div>					
			</section>	  <!-- END BREADCRUMB -->	


			<!-- BLOG PAGE CONTENT 
			============================================= -->
			
			<div id="blog-page" class="container" role="main">
				<div class="row">
							
					<!-- BLOG POSTS HOLDER -->	
					<div id="blog-large" class="col-md-9">
									
						<!-- SINGLE IMAGE POST -->
						<article class="post-large">
							<div class="row">							
								<div class="col-sm-12 blog-item">

									<!-- Post Image -->
									<div class="post-img">
										<img class="img-responsive" src="img/blog/img5.jpg" alt="post-image-1" />
									</div>
									
									<h3>Standard post with Single Image</h3>
									
									<!-- Post Meta -->
									<div class="post-meta">
										<ul class="post-meta-list clearfix">	
											<li>May 1, 2014&ensp;/</li>	
											<li>By <span class="theme-color">Admin</span>&ensp;/</li>
											<li>In <span class="theme-color">Illustration</span>&ensp;/</li>
											<li><a href="single-post.html#comments">4 Comments</a></li>						
										</ul>
									</div>
			
									<!-- Post Content -->
									<div class="post-content">												
										<p> Etiam condimentum sapien ut sem condimentum accumsan. Proin in adipiscing elit. Proin lobortis molestie ante quis consequat. Sed ac pulvinar eros.
											Suspendisse cursus risus laoreet turpis auctor, nec pharetra massa varius. Suspendisse dignissim sollicitudin sem, id ornare elit aliquam&ensp; 
											<a href="single-post.html">Read More <i class="fa fa-angle-double-right"></i></a>
										</p>
									</div>

								</div>								
							</div>	  
						</article>	  <!-- END SINGLE IMAGE POST -->

						
						<!-- VIMEO VIDEO POST -->
						<article class="post-large">
							<div class="row">							
								<div class="col-sm-12 blog-item">	
								
									<!-- Vimeo Video -->
									<div class="video-block">													
										<iframe src="http://player.vimeo.com/video/69988283" width="370" height="250"></iframe>													
									</div>
									
									<h3>Standard post with embedded video from Vimeo</h3>
									
									<!-- Post Meta -->
									<div class="post-meta">
										<ul class="post-meta-list clearfix">
											<li>Apr 25, 2014&ensp;/</li>	
											<li>By <span class="theme-color">Admin</span>&ensp;/</li>
											<li>In <span class="theme-color">Technologies</span>&ensp;/</li>
											<li><a href="single-post.html#comments">14 Comments</a></li>						
										</ul>
									</div>

									<!-- Post Content -->
									<div class="post-content wide">												
										<p> Etiam condimentum sapien ut sem condimentum accumsan. Proin in adipiscing elit. Proin lobortis molestie ante quis consequat. Sed ac pulvinar eros.
											Suspendisse cursus risus laoreet turpis&ensp;
											<a href="single-post.html">Read More <i class="fa fa-angle-double-right"></i></a>
										</p>	
									</div>
									
								</div>								
							</div>	  
						</article>	  <!-- END VIMEO VIDEO POST -->
						
						
						<!-- FLEXSLIDER POST -->
						<article class="post-large">
							<div class="row">							
								<div class="col-sm-12 blog-item">
																	
									<!-- Flexslider -->
									<div class="blog-img-slider">											
										<ul class="slides">	
										
											<!-- SLIDE #1 -->
											<li>
												<div class="post-img">
													<img class="img-responsive" src="img/blog/img7.jpg" alt="slider_image_1" />													
												</div>	
											</li>
											
											<!-- SLIDE #2 -->
											<li>
												<div class="post-img">
													<img class="img-responsive" src="img/blog/img5.jpg" alt="slider_image_2" />													
												</div>	
											</li>
											
											<!-- SLIDE #3 -->
											<li>
												<div class="post-img">
													<img class="img-responsive" src="img/blog/img6.jpg" alt="slider_image_3" />													
												</div>	
											</li>
											
										</ul>																
									</div>
									
									<h3>Standard post with FlexSlider</h3>

									<!-- Post Meta -->
									<div class="post-meta">
										<ul class="post-meta-list clearfix">
											<li>Apr 22, 2014&ensp;/</li>	
											<li>By <span class="theme-color">Admin</span>&ensp;/</li>
											<li>In <span class="theme-color">Photography</span>&ensp;/</li>										
											<li><a href="single-post.html#comments">4 Comments</a></li>						
										</ul>
									</div>

									<!-- Post Content -->
									<div class="post-content wide">												
										<p> Etiam condimentum sapien ut sem condimentum accumsan. Proin in adipiscing elit. Proin lobortis molestie ante quis consequat. Sed ac pulvinar eros.
											Suspendisse cursus risus laoreet turpis auctor, nec pharetra massa varius. Suspendisse dignissim sollicitudin sem&ensp;
											<a href="single-post.html">Read More <i class="fa fa-angle-double-right"></i></a>
										</p>
									</div>

								</div>								
							</div>	  
						</article>	  <!-- END FLEXSLIDER POST -->
						
						
						<!-- TEXT POST POST -->	
						<article class="post-large">
							<div class="row">							
								<div class="col-sm-12 blog-item text">

									<h3>Standard post with Text</h3>
								
									<!-- Post Meta -->
									<div class="post-meta">
										<ul class="post-meta-list clearfix">
											<li>Mar 25, 2014&ensp;/</li>	
											<li>By <span class="theme-color">Admin</span>&ensp;/</li>
											<li>In <span class="theme-color">Technologies</span>&ensp;/</li>											
											<li><a href="single-post.html#comments">14 Comments</a></li>						
										</ul>
									</div>
	
									<!-- Post Content -->
									<div class="post-content">													
										<p> Etiam condimentum sapien ut sem condimentum accumsan. Proin in adipiscing elit. Proin lobortis molestie ante quis consequat. Sed ac pulvinar eros.
											Suspendisse cursus risus laoreet turpis auctor, nec pharetra massa varius. Suspendisse dignissim sollicitudin sem, id ornare elit aliquam ac. 
											Praesent ac posuere ipsum. Suspendisse tristique nisi sem, a convallis diam porta
										</p>											
										<p> Sed sollicitudin dolor lectus, id sagittis leo dignissim a. Proin auctor pretium metus rhoncus luctus. 
											In eget urna at nisl bibendum dapibus. Phasellus nec euismod mauris. Morbi vitae rutrum turpis, et pretium urna. 
											Integer adipiscing sapien et neque malesuada, porttitor pretium tellus ullamcorper &ensp;
											<a href="single-post.html">Read More <i class="fa fa-angle-double-right"></i></a>
										</p>																					
									</div>
									
								</div>								
							</div>	  
						</article>	  <!-- END TEXT POST -->

						
						<!-- YOUTUBE VIDEO POST -->	
						<article class="post-large">
							<div class="row">							
								<div class="col-sm-12 blog-item">
																	
									<!-- YouTube Video -->
									<div class="video-block">	
										<iframe width="560" height="315" src="http://www.youtube.com/embed/icViP-RZDy4"></iframe>
									</div>
									
									<h3>Standard post with embedded video from Youtube</h3>
									
									<!-- Post Meta -->
									<div class="post-meta">
										<ul class="post-meta-list clearfix">
											<li>Mar 3, 2014&ensp;/</li>	
											<li>By <span class="theme-color">Admin</span>&ensp;/</li>
											<li>In <span class="theme-color">Video</span>&ensp;/</li>											
											<li><a href="single-post.html#comments">9 Comments</a></li>						
										</ul>
									</div>

									<!-- Post Content -->
									<div class="post-content wide">												
										<p> Etiam condimentum sapien ut sem condimentum accumsan. Proin in adipiscing elit. Proin lobortis molestie ante quis consequat. Sed ac pulvinar eros
											suspendisse cursus risus &ensp;
											<a href="single-post.html">Read More <i class="fa fa-angle-double-right"></i></a>
										</p>
									</div>

								</div>								
							</div>	  
						</article>	  <!-- END YOUTUBE VIDEO POST -->
						
						
						<!-- SOUNDCLOUD AUDIO POST -->	
						<article class="post-large">
							<div class="row">							
								<div class="col-sm-12 blog-item">

									<!-- Soundcloud Audio -->
									<div class="audio-block">	
										<iframe width="500" height="166" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F107543640"></iframe>
									</div>
									
									<h3>Standard post with embedded audio from SoundCloud</h3>
									
									<!-- Post Meta -->
									<div class="post-meta">
										<ul class="post-meta-list clearfix">
											<li>Feb 28, 2014&ensp;/</li>
											<li>By <span class="theme-color">Admin</span>&ensp;/</li>
											<li>In <span class="theme-color">Audio</span>&ensp;/</li>												
											<li><a href="single-post.html#comments">5 Comments</a></li>						
										</ul>
									</div>								
																		
									<!-- Post Content -->
									<div class="post-content wide">												
										<p> Etiam condimentum sapien ut sem condimentum accumsan. Proin in adipiscing elit. Proin lobortis molestie ante quis consequat. Sed ac pulvinar eros.
											Suspendisse cursus risus laoreet turpis auctor&ensp;
											<a href="single-post.html">Read More <i class="fa fa-angle-double-right"></i></a>
										</p>
									</div>
									
								</div>									
							</div>	  
						</article>	  <!-- END SOUNDCLOUD AUDIO POST -->
						
						
						<!-- BLOG PAGE PAGINATION -->
						<div id="pagination" class="row text-center">							
							<div class="col-xs-12">							
								<ul class="pagination">
									<li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
									<li><a href="#">1</a></li>
									<li class="active"><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
								</ul>									
							</div>
						</div>
										
					</div>	<!-- END BLOG POSTS HOLDER -->	
					
					
					<!-- SIDEBAR RIGHT
					============================================= -->
					
					<aside id="sidebar-right" class="col-md-3">
					
						<!-- Search Field --> 
						<div class="row">								
							<div id="search-field" class="col-xs-12">
							
								<h4>Search</h4>
									
								<div id="search-box" class="clearfix">
									<form method="get" action="#">
										<div class="input-group">
											<input class="form-control" type="text" placeholder="Search...">
											<span class="input-group-btn">
												<button class="btn search-btn" type="button"><i class="fa fa-search"></i></button>
											</span>
										</div>
									</form>
								</div>

							</div>								
						</div>	  <!-- End Search Field --> 

						<!-- Blog Categories --> 
						<div class="row">								
							<div id="blog-cat" class="col-xs-12">		
							
								<h4>Blog Categories</h4>
													
								<ul class="blog-category-list clearfix">
									<li><a href="#" title=""><i class="fa fa-angle-right"></i>Illustration</a> <span>(5)</span></li>
									<li><a href="#" title=""><i class="fa fa-angle-right"></i>Digital Art</a> <span>(13)</span></li>
									<li><a href="#" title=""><i class="fa fa-angle-right"></i>Graphic Design</a> <span>(6)</span></li>
									<li><a href="#" title=""><i class="fa fa-angle-right"></i>Web</a> <span>(12)</span></li>
								</ul>
								
							</div>								
						</div>		<!-- End Blog Categories --> 
	
						<!-- Most Popular Posts -->
						<div class="row">							
							<div id="popular-posts-holder" class="col-xs-12">	
						
								<h4>Most Popular Posts:</h4>
								
								<ul class="popular-posts">
								
									<!-- Popular post #1 -->
									<li class="clearfix">
										<div class="post-summary">
											<a href="blog-post.html">Etiam condimentum sapien accumsan lobortis molestie ante consequat ...</a>
											<p>43 Comments</p>
										</div>
									</li>
									
									<!-- Popular post #2 -->
									<li class="clearfix">
										<div class="post-summary">
											<a href="blog-post.html">Proin lobortis molestie antequis ante consequat ac pulvinar eros. ...</a>
											<p>38 Comments</p>
										</div>
									</li>
									
									<!-- Popular post #3 -->
									<li class="clearfix">
										<div class="post-summary">
											<a href="blog-post.html">Suspendisse cursus risus laoreet turpis auctor, nec pharetra massa varius ...</a>
											<p>29 Comments</p>
										</div>
									</li>
								</ul>
								
							</div>								
						</div>		<!-- End Most Popular Posts -->

						<!-- Popular Tags -->
						<div class="row">						
							<div id="popular-tags" class="col-xs-12">	
							
								<h4>Popular Tags:</h4>
								
								<span class="badge"><a href="#">video</a> 3</span>
								<span class="badge"><a href="#">web</a> 17</span> 
								<span class="badge"><a href="#">music</a> 2</span> 
								<span class="badge"><a href="#">design</a> 54</span> 
								<span class="badge"><a href="#">image</a> 46</span>  								 
								<span class="badge"><a href="#">typography</a> 6</span> 
								<span class="badge"><a href="#">journal</a> 9</span>
								<span class="badge"><a href="#">graphic</a> 32</span>  
								<span class="badge"><a href="#">photo</a> 67</span> 
								<span class="badge"><a href="#">photoshop</a> 26</span>

							</div>								
						</div>		<!-- End Popular Tags -->	
	
						<!-- Archives -->
						<div class="row">						
							<div id="blog-archive" class="col-xs-12">	
							
								<h4>Archives</h4>
													
								<ul class="blog-archive-list clearfix">
									<li><a href="#" title=""><i class="fa fa-angle-right"></i>April 2014</a> <span>(9)</span></li>
									<li><a href="#" title=""><i class="fa fa-angle-right"></i>March 2014</a> <span>(13)</span></li>
									<li><a href="#" title=""><i class="fa fa-angle-right"></i>February 2014</a> <span>(10)</span></li>
									<li><a href="#" title=""><i class="fa fa-angle-right"></i>January 2014</a> <span>(8)</span></li>									
								</ul>
								
							</div>								
						</div>		<!-- End Archives -->	

						<!-- Text Widget -->
						<div class="row">							
							<div id="text-widget" class="col-xs-12">
							
								<h4>Text Widget</h4>
																		
								<p>Mauris id lobortis orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam erat volutpat. Praesent a ultricies magna, vitae suscipit ipsum. 
								   Mauris eget euismod purus, in condimentum ante. 
								</p>
								
							</div>								
						</div>		<!-- End Text Widget -->

					</aside>	<!-- SIDEBAR RIGHT -->
					
									
				</div>	<!-- End row -->
			</div>	   <!-- END BLOG PAGE CONTENT --> 
			
		
			<!-- FOOTER
			============================================= -->
			
			<footer id="footer">
				<div class="container">	
					<div class="row">
										
						<!-- Footer Navigation Menu -->
						<div id="footer_nav" class="col-sm-6 col-md-4">
							<ul class="footer-nav clearfix">
								<li><a href="about.html">About</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="#">Help</a></li>
								<li><a href="#">Privacy</a></li>
								<li><a href="#">Terms</a></li>
							</ul>

							<div id="footer_copy">
								<p>&copy; Copyright 2014 <span>Crossway</span> All Right Reserved</p>
							</div>							
						</div>	<!-- End Footer Navigation Menu -->
						
												
						<!-- Footer Social Icons -->
						<div id="footer_icons" class="col-sm-6 col-md-4 text-center">																	
							<ul class="footer-socials clearfix">
								<li><a class="foo_social ico-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a class="foo_social ico-twitter" href="#"><i class="fa fa-twitter"></i></a></li>	
								<li><a class="foo_social ico-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a class="foo_social ico-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a class="foo_social ico-dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
											
							<!--									
								<li><a class="foo_social ico-instagram" href="#"><i class="fa fa-instagram"></i></a></li>
								<li><a class="foo_social ico-pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>	
								<li><a class="foo_social ico-dropbox" href="#"><i class="fa fa-dropbox"></i></a></li>
								<li><a class="foo_social ico-skype" href="#"><i class="fa fa-skype"></i></a></li>
								<li><a class="foo_social ico-youtube" href="#"><i class="fa fa-youtube"></i></a></li>
								<li><a class="foo_social ico-tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
								<li><a class="foo_social ico-vimeo" href="#"><i class="fa fa-vimeo-square"></i></a></li>
								<li><a class="foo_social ico-flickr" href="#"><i class="fa fa-flickr"></i></a></li>
								<li><a class="foo_social ico-github" href="#"><i class="fa fa-github-alt"></i></a></li>
								<li><a class="foo_social ico-renren" href="#"><i class="fa fa-renren"></i></a></li>
								<li><a class="foo_social ico-vk" href="#"><i class="fa fa-vk"></i></a></li>
								<li><a class="foo_social ico-xing" href="#"><i class="fa fa-xing"></i></a></li>
								<li><a class="foo_social ico-weibo" href="#"><i class="fa fa-weibo"></i></a></li>
								<li><a class="foo_social ico-rss" href="#"><i class="fa fa-rss"></i></a></li>										
							-->										
							</ul>
						</div>	 <!-- End Footer Social Icons -->
						
						
						<!-- Newsletter Form -->						
						<div class="col-md-4">							
							<div id="newsletter_form" class="col-sm-12">
								<div class="clearfix">
									<form id="subscribe-form" class="subscribe-form pull-right" action="newsletter.php" method="post">
										<input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address...">
										<button type="submit" class="subscribe-submit">Subscribe</button>
									</form>
								</div>	
								<p id="newsletter-paragraph" class="pull-right">Join our newsletter subscription, <span>be always informed</span></p>
							</div>
						</div>	<!-- End Newsletter Form -->
						
											
					</div>	<!-- End row -->						
				</div>	  <!-- End container -->		
			</footer>	<!-- END FOOTER -->
		
			
		</div>	<!-- PAGE CONTENT WRAPPER -->
	
	
		<!-- EXTERNAL SCRIPTS
		============================================= -->
		
		<script src="js/jquery-2.1.0.min.js" type="text/javascript"></script>
		<script src="js/bootstrap.min.js" type="text/javascript"></script>	
		<script src="js/retina.js" type="text/javascript"></script>	
		<script src="js/modernizr.custom.js" type="text/javascript"></script>	
		<script src="js/jquery.easing.js" type="text/javascript"></script>
		<script src="js/jquery.parallax-1.1.3.js" type="text/javascript"></script>
		<script src="js/jquery.validate.min.js" type="text/javascript"></script>
		<script defer src="js/jquery.flexslider.js" type="text/javascript"></script>
		<script src="js/jquery.accordion.source.js" type="text/javascript"></script>	
		<script src="js/owl.carousel.js" type="text/javascript"></script>
		<script src="js/waypoints.min.js" type="text/javascript"></script>	
		<script src="js/animations.js" type="text/javascript"></script>		
		<script src="js/custom.js" type="text/javascript"></script>
		

		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		
				
		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
		<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->
	
	</body>
	
</html>