<footer id="footer">
  <div class="container">
    <div class="row">

      <!-- Footer Navigation Menu -->
      <div id="footer_nav" class="col-sm-6 col-md-4">
        <ul class="footer-nav clearfix">
          <li><a href="about.html">About</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
        </ul>

        <div id="footer_copy">
          <p>&copy; Copyright 2014 <span>Crossway</span> All Right Reserved</p>
        </div>
      </div>	<!-- End Footer Navigation Menu -->


      <!-- Footer Social Icons -->
      <div id="footer_icons" class="col-sm-6 col-md-4 text-center">
        <ul class="footer-socials clearfix">
          <li><a class="foo_social ico-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="foo_social ico-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="foo_social ico-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a class="foo_social ico-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="foo_social ico-dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>

        <!--
          <li><a class="foo_social ico-instagram" href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a class="foo_social ico-pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a class="foo_social ico-dropbox" href="#"><i class="fa fa-dropbox"></i></a></li>
          <li><a class="foo_social ico-skype" href="#"><i class="fa fa-skype"></i></a></li>
          <li><a class="foo_social ico-youtube" href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a class="foo_social ico-tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
          <li><a class="foo_social ico-vimeo" href="#"><i class="fa fa-vimeo-square"></i></a></li>
          <li><a class="foo_social ico-flickr" href="#"><i class="fa fa-flickr"></i></a></li>
          <li><a class="foo_social ico-github" href="#"><i class="fa fa-github-alt"></i></a></li>
          <li><a class="foo_social ico-renren" href="#"><i class="fa fa-renren"></i></a></li>
          <li><a class="foo_social ico-vk" href="#"><i class="fa fa-vk"></i></a></li>
          <li><a class="foo_social ico-xing" href="#"><i class="fa fa-xing"></i></a></li>
          <li><a class="foo_social ico-weibo" href="#"><i class="fa fa-weibo"></i></a></li>
          <li><a class="foo_social ico-rss" href="#"><i class="fa fa-rss"></i></a></li>
        -->
        </ul>
      </div>	 <!-- End Footer Social Icons -->


      <!-- Newsletter Form -->
      <div class="col-md-4">
        <div id="newsletter_form" class="col-sm-12">
          <div class="clearfix">
            <form id="subscribe-form" class="subscribe-form pull-right" action="newsletter.php" method="post">
              <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address...">
              <button type="submit" class="subscribe-submit">Subscribe</button>
            </form>
          </div>
          <p id="newsletter-paragraph" class="pull-right">Join our newsletter subscription, <span>be always informed</span></p>
        </div>
      </div>	<!-- End Newsletter Form -->


    </div>	<!-- End row -->
  </div>	  <!-- End container -->
</footer>	<!-- END FOOTER -->
