<%# Rails flash messages styled for Zurb Foundation %>
<% flash.each do |message_type, message| %>
  <% if message.is_a?(String) %>
    <div class="alert alert-<%= message_type %>">
      <%= message %>
    </div>
  <% end %>
<% end %>
