<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Contact', new_contact_path %></li>
<li><a id="GoToHome" class="selected-nav" href="#intro">Home</a></li>
<li><a id="GoToAbout" href="#about-1">About</a></li>
<li><a id="GoToFeatures" href="#features">Features</a></li>
<li><a id="GoToFaq" href="#faq">FAQ</a></li>
<li><a id="GoToPricing" href="#pricing">Pricing</a></li>
<li><a id="GoToBlog" href="#blog">Blog</a></li>
<li><a id="GoToClients" href="#clients">Clients</a></li>
